page-login {

    background-image: url("./assets/imgs/telaLogin.png");
h1{
    text-align: center;
    padding: 20px;
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

}
